body{
    padding-left: 200px;
    padding-right: 200px;
    font-style: italic;
    background-color: bisque;
}

.Foto {
    width: 50px;
    height: auto;
    float: right;
}

#name{
    font-size: 45pt;
    font-style: oblique;
    color: brown;
}
